# Android Studio / IntelliJ files
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx

# Build folders (IMPORTANT: ignores all build folders in the project)
build/
app/build/
**/build/

# Firebase configuration (Secrets)
app/google-services.json
local.properties
